.button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0 23px;
  height: 23px;
  background-color: #c0c0c0;
  font-size: 14px;
  border: 1px solid #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  cursor: pointer;
  user-select: none;

  &:active {
    border: 1px solid #ffffff;
    border-top-color: #000000;
    border-left-color: #000000;
  }

  &--start {
    padding: 0 3px;
  }
}
