.minesweeper-wrapper {
  padding: 6px;
  border: 3px solid #87888f;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  gap: 1px;
  width: 262px;
  height: 262px;
  border: 3px solid #ffffff;
  border-top-color: #87888f;
  border-left-color: #87888f;

  &__box {
    width: 15px;
    height: 15px;
    background: #c0c7c8;
    border: 1px solid #87888f;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    cursor: pointer;

    &:active {
      border: 1px solid #ffffff;
      border-top-color: #87888f;
      border-left-color: #87888f;
    }
  }
}
